---
import { Icon } from "astro-icon/components";

import Layout from "../../layouts/Layout.astro";

const links = [
  {
    name: "GitHub",
    url: "https://github.com/KeitaUenishi",
    icon: "lucide:github",
  },
  {
    name: "X",
    url: "https://x.com/uk092908",
    icon: "lucide:twitter",
  },
  {
    name: "Zenn",
    url: "https://zenn.dev/uenishi_com",
    icon: "lucide:book",
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/keita-uenishi-ab9587232/",
    icon: "lucide:linkedin",
  },
  {
    name: "Wantedly",
    url: "https://www.wantedly.com/id/keita_uenishi_0905",
    icon: "lucide:user",
  },
  {
    name: "Speaker Deck",
    url: "https://speakerdeck.com/keitauenishi",
    icon: "lucide:presentation",
  },
];
---

<Layout>
  <section
    class="mb-8 flex flex-col items-center gap-8 rounded-xl p-8 md:flex-row"
  >
    <div class="h-32 w-32 shrink-0">
      <div
        class="flex h-full w-full items-center justify-center overflow-hidden rounded-full border shadow-xl"
      >
        <img
          src="/images/profile.jpeg"
          alt="Keita Uenishi"
          class="h-full w-full object-cover"
        />
      </div>
    </div>
    <div class="space-y-4 text-center text-sm md:text-left">
      <h3 class="text-md">Keita Uenishi</h3>
      <p class="m-0 leading-relaxed">
        1992年9月5日生まれ。 27歳までバンドでギターを弾いていました。
      </p>
      <p class="m-0 leading-relaxed">
        職歴なしの状態から28歳でエンジニアとして就職。
      </p>
      <p class="m-0 leading-relaxed">
        React, TypeScript, Next.jsをメインに使用しWebアプリを開発しています。
        大阪在住。
      </p>
    </div>
  </section>
  <section class="mb-12">
    <h2 class="mb-6 border-b border-zinc-200 pb-1 text-xl font-bold">Links</h2>
    <div class="grid gap-3">
      {
        links.map(({ name, url, icon }) => (
          <a
            href={url}
            class="group flex items-center gap-3 rounded-lg border bg-white p-4 transition-all hover:shadow-lg"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div class="flex h-10 w-10 items-center justify-center rounded-lg bg-zinc-100 transition-colors">
              <Icon
                name={icon}
                size={20}
                class="text-zinc-600 group-hover:text-zinc-900"
              />
            </div>
            <span class="text-base font-medium text-zinc-800 group-hover:text-zinc-900">
              {name}
            </span>
            <Icon
              name="lucide:arrow-up-right"
              size={16}
              class="ml-auto text-zinc-400 transition-colors group-hover:text-zinc-600"
            />
          </a>
        ))
      }
    </div>
  </section>
</Layout>
