@import "tailwindcss";

@plugin "@tailwindcss/typography";
@theme {
  --font-sans: "Atkinson Hyperlegible", sans-serif;
  --font-serif: "Atkinson Hyperlegible", sans-serif;

  --color-accent: #0066cc;
  --color-accent-dark: #003d7a;
  --color-black: #222;
  --color-gray: #666;
  --color-gray-light: #e5e9ec;
  --color-gray-dark: #212529;

  --shadow-box:
    0 2px 6px rgba(34, 34, 34, 0.25), 0 8px 24px rgba(34, 34, 34, 0.33),
    0 16px 32px rgba(34, 34, 34, 0.33);
}

@layer base {
  body {
    font-family: var(--font-sans);
    margin: 0;
    padding: 0;
    text-align: left;
    background: linear-gradient(rgba(229, 233, 236, 0.5), #fff) no-repeat;
    background-size: 100% 600px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: var(--color-gray-dark);
    min-height: 100vh;
  }
  main {
    max-width: 720px;
    margin: auto;
    padding: 3em 1em;
  }
  textarea {
    width: 100%;
    font-family: var(--font-sans);
  }
}

@utility prose {
  @apply wrap-break-word;

  & a {
    @apply text-lime-800 no-underline hover:underline;
  }

  & h2 {
    @apply pb-1 border-b border-zinc-200;
  }

  /* code */
  & code {
    @apply font-normal text-sm bg-zinc-200 rounded;
    font-family:
      SFMono-Regular,
      Consolas,
      Liberation Mono,
      Menlo,
      monospace;
    padding: 0.2rem 0.4rem;
    vertical-align: 0.03em;
  }

  /* code内で strong/b が使われたら「code + 太字」にする */
  & code strong,
  & code b {
    @apply font-bold;
  }

  /* @tailwindcss/typography のデフォルトの ` マークを無効化 */
  & code::before,
  & code::after {
    content: "";
  }

  /* image */
  & img {
    @apply border border-zinc-200 rounded-lg;
  }

  /* テーブル */
  & :is(table) {
    /* .prose table と同じ詳細度 (0,2,0) を持つ */
    @apply block overflow-x-auto; /* スクロール可能に */
    @apply -mx-6 px-6 my-4; /* コンテナの幅を調整 */
    width: calc(100% + 3rem); /* content-wrapper から頑張って手計算 */
    @apply relative; /* シャドウのための位置指定 */
    @apply pb-1; /* スクロールバーの位置調整 */
  }
  /* テーブル: 中身 */
  & table thead {
    @apply bg-zinc-50 sticky top-0; /* ヘッダーを固定 */
  }
  & table th {
    @apply px-3 align-middle font-bold text-zinc-700 border border-gray-light whitespace-nowrap;
  }
  & table td {
    @apply px-2 text-zinc-600 border border-gray-light whitespace-nowrap;
  }
  /* テーブル: スクロールバーのスタイリング */
  & table::-webkit-scrollbar {
    @apply h-1;
  }
  & table::-webkit-scrollbar-track {
    @apply bg-zinc-100;
  }
  & table::-webkit-scrollbar-thumb {
    @apply bg-zinc-300 rounded-full hover:bg-zinc-400;
  }

  .expressive-code {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  @media (max-width: 720px) {
    body {
      font-size: 18px;
    }
    main {
      padding: 1em;
    }
  }

  .sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    white-space: nowrap;
  }
}
