@import "tailwindcss";

@theme {
  --font-sans: "Atkinson Hyperlegible", sans-serif;
  --font-serif: "Atkinson Hyperlegible", sans-serif;

  --color-accent: #0066cc;
  --color-accent-dark: #003d7a;
  --color-black: #222;
  --color-gray: #666;
  --color-gray-light: #e5e9ec;
  --color-gray-dark: #212529;

  --shadow-box:
    0 2px 6px rgba(34, 34, 34, 0.25), 0 8px 24px rgba(34, 34, 34, 0.33),
    0 16px 32px rgba(34, 34, 34, 0.33);
}

@layer base {
  body {
    font-family: var(--font-sans);
    margin: 0;
    padding: 0;
    text-align: left;
    background: linear-gradient(rgba(229, 233, 236, 0.5), #fff) no-repeat;
    background-size: 100% 600px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: var(--color-gray-dark);
    min-height: 100vh;
  }
  main {
    max-width: 720px;
    margin: auto;
    padding: 3em 1em;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 0.5rem 0;
    color: var(--color-black);
    line-height: 1.2;
  }
  h1 {
    font-size: 3.052em;
  }
  h2 {
    font-size: 2.441em;
  }
  h3 {
    font-size: 1.953em;
  }
  h4 {
    font-size: 1.563em;
  }
  h5 {
    font-size: 1.25em;
  }
  strong,
  b {
    font-weight: 700;
  }
  a {
    color: var(--color-accent);
  }
  a:hover {
    color: var(--color-accent);
  }
  p {
    margin-bottom: 1.5em;
  }
  textarea {
    width: 100%;
    font-family: var(--font-sans);
  }
  code {
    padding: 2px 5px;
    background-color: var(--color-gray-light);
    border-radius: 2px;
  }
  pre {
    padding: 1.5em;
    border-radius: 8px;
  }
  pre > code {
    all: unset;
  }
  blockquote {
    border-left: 4px solid var(--color-accent);
    padding: 0 0 0 20px;
    margin: 0px;
    font-style: italic;
  }
  hr {
    border: none;
    border-top: 1px solid var(--color-gray-light);
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .expressive-code {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  @media (max-width: 720px) {
    body {
      font-size: 18px;
    }
    main {
      padding: 1em;
    }
  }

  .sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    white-space: nowrap;
  }
}
