---
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "../layouts/Layout.astro";

const posts = (await getCollection("blog"))
  .filter((post) => post.data.public === true)
  .sort((a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf());
---


<Layout>
	<section>
		<ul class="flex flex-wrap gap-4 list-none m-0 p-0">
			{
				posts.map((post) => (
					<li class="w-full mb-2 text-center ">
						<a href={`/blog/${post.data.id}/`} class="block no-underline transition-[0.2s] group">
							<h4 class="m-0 text-black leading-tight group-hover:text-accent text-xl">{post.data.title}</h4>
							<p class="m-0 text-gray group-hover:text-accent">
								<FormattedDate date={post.data.publishedAt} />
							</p>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</Layout>
