---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header class="bg-gray-light m-0">
  <nav class="mx-auto flex max-w-3xl items-center justify-between px-4">
    <h2 class="m-0 text-lg">
      <a href="/" class="font-bold tracking-tight text-black no-underline"
        >{SITE_TITLE}</a
      >
    </h2>
    <div class="flex items-center">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
  </nav>
</header>
